#title{
    margin-top: 0;
    height: 100px;
    width: 100%;
    background: rgba(255, 0, 255, 0.5);
}
#title > ul{
    list-style: none;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
#title > ul > li{
    padding-top: 10px;
    float: left;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
#title > h1, #title > ul{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0;
    float: left;
}
#title > a, #title > h3{
    padding-top: 1%;
    float: left;
}

body {
    font-family: "Raleway", sans-serif;
}
p, h1, a, h3, ul, h2{
    margin-top: 1%;
    margin-left: 5%;
}
html {
    background: url('https://www.w3schools.com/w3images/forestbridge.jpg') no-repeat center center fixed;
    
    background-image: url('/w3images/forestbridge.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.speaker {
  text-align: center;
}

#name_s {
  font-size: 30px;
  color: #DCDCDC;
}
